force-app/main/default/flows/Agency_based_Enrollment_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>799</locationX>
        <locationY>108</locationY>
        <assignmentItems>
            <assignToReference>updatedEnrollmentAgencyCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updatedEnrollmentAgency</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>setEnrollmentIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updatedEnrollmentAgency.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agencies_found_by_CCMID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_II</name>
        <label>Add to Collection II</label>
        <locationX>236</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>updatedEnrollmentAgencyCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updatedEnrollmentAgency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agencies_found_by_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Collection of Enrollments with updated Agent</description>
        <name>Add_to_Enrollment_Update_Agent_Collection</name>
        <label>Add to Enrollment Update Agent Collection</label>
        <locationX>1006</locationX>
        <locationY>568</locationY>
        <assignmentItems>
            <assignToReference>updatedEnrollmentAgentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updatedEnrollmentAgent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countAgentsUpdated</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Default_Agent_Enrollments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>How many Enrollment records were stamped with an Agency?</description>
        <name>Agency_set</name>
        <label># Agency set</label>
        <locationX>954</locationX>
        <locationY>410</locationY>
        <assignmentItems>
            <assignToReference>countAgencySet</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>updatedEnrollmentAgencyCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collectionAgentsBasedOnAgency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Update_Details</name>
        <label>Assign Update Details</label>
        <locationX>963</locationX>
        <locationY>44</locationY>
        <assignmentItems>
            <assignToReference>updatedEnrollmentAgency.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agencies_found_by_CCMID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedEnrollmentAgency.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countEnrollmentByCCMIDAgency</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Update_Details_II</name>
        <label>Assign Update Details II</label>
        <locationX>431</locationX>
        <locationY>457</locationY>
        <assignmentItems>
            <assignToReference>updatedEnrollmentAgency.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agencies_found_by_Address.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedEnrollmentAgency.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countEnrollmentByAddressAgency</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_II</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>How many Enrollment records were stamped with the parent Agency and the default Agent?</description>
        <name>Number_of_Agents_found</name>
        <label># Agents</label>
        <locationX>1204</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>countAgentSet</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collectionAgentsBasedOnAgency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>collectionDefaultAgentEnrollments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>How many Enrollment records were stamped with the parent Agency and the default Agent?</description>
        <name>Number_of_Default_Agents_found</name>
        <label># Default Agt Enrs</label>
        <locationX>1408</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>countEnrollmentDefaultAgentsUnderAgency</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>collectionDefaultAgentEnrollments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agents_and_Enrollments_found_question</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_Agent_on_Enrollment</name>
        <label>Populate Agent on Enrollment</label>
        <locationX>852</locationX>
        <locationY>651</locationY>
        <assignmentItems>
            <assignToReference>updatedEnrollmentAgent.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_Agent_Enrollments.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedEnrollmentAgent.Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agents_from_Agency.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Enrollment_Update_Agent_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Agents_and_Enrollments_found_question</name>
        <label>Agents &amp; Enrollments found?</label>
        <locationX>1257</locationX>
        <locationY>279</locationY>
        <defaultConnector>
            <targetReference>Summary_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Agents_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countAgentSet</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>countEnrollmentDefaultAgentsUnderAgency</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agents_from_Agency</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collection_to_update</name>
        <label>Collection to update?</label>
        <locationX>617</locationX>
        <locationY>402</locationY>
        <defaultConnector>
            <targetReference>Agency_set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_collection_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updatedEnrollmentAgencyCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enrollment_Agency</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enrollments_found</name>
        <label>Enrollments found?</label>
        <locationX>488</locationX>
        <locationY>102</locationY>
        <defaultConnector>
            <targetReference>Enrollments_by_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_enrollments_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enrollments_by_CCMID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agencies_found_by_CCMID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enrollments_found_II</name>
        <label>Enrollments found II?</label>
        <locationX>836</locationX>
        <locationY>277</locationY>
        <defaultConnector>
            <targetReference>Collection_to_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_enrollments_found_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enrollments_by_Address</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agencies_found_by_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_between_Agents_and_Enrollments</name>
        <label>Match between Agents &amp; Enrollments</label>
        <locationX>1008</locationX>
        <locationY>740</locationY>
        <defaultConnector>
            <targetReference>Default_Agent_Enrollments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_match_agent_enrollment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formulaFirstLetterAgentFirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formulaFirstLetterAgentFirstNameEnrollment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaLastNameAgent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formulaLastNameEnrollment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaFirst3OfAddressAgent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formulaFirst3OfAddressEnrollment</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaFirst4OfZipcodeAgent</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formulaFirst4OfZipcodeEnrollment</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_Agent_on_Enrollment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Part_of_Collection</name>
        <label>Part of Collection?</label>
        <locationX>420</locationX>
        <locationY>251</locationY>
        <defaultConnector>
            <targetReference>Assign_Update_Details_II</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_part_of_collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>setEnrollmentIDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Agencies_found_by_Address.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agencies_found_by_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Based on updates to the Agency (CCMI, address details), look for possible unmatched Enrollments by the updated CCMID and/or address and connect them. Then look for Agents.</description>
    <formulas>
        <name>formulaDefaultAgencyID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Account_Enrollment_CCMID_Not_Found}</expression>
    </formulas>
    <formulas>
        <name>formulaDefaultAgentID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Contact_Enrollment_CCMID_Not_Found}</expression>
    </formulas>
    <formulas>
        <name>formulaFirst2OfAgencyName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Agency.Name},2)</expression>
    </formulas>
    <formulas>
        <description>First 3 characters of ShippingStreet</description>
        <name>formulaFirst3OfAddressAgency</name>
        <dataType>String</dataType>
        <expression>LEFT({!Agency.ShippingStreet},3)</expression>
    </formulas>
    <formulas>
        <description>Based on Contact record</description>
        <name>formulaFirst3OfAddressAgent</name>
        <dataType>String</dataType>
        <expression>UPPER(LEFT({!Agents_from_Agency.Account_Billing_Street_Address__c},3))</expression>
    </formulas>
    <formulas>
        <name>formulaFirst3OfAddressEnrollment</name>
        <dataType>String</dataType>
        <expression>UPPER(LEFT({!Default_Agent_Enrollments.Agent_Address__c},3))</expression>
    </formulas>
    <formulas>
        <name>formulaFirst4OfZipcodeAgency</name>
        <dataType>String</dataType>
        <expression>LEFT({!Agency.ShippingPostalCode},4)</expression>
    </formulas>
    <formulas>
        <name>formulaFirst4OfZipcodeAgent</name>
        <dataType>String</dataType>
        <expression>LEFT({!Agents_from_Agency.Account_Billing_Zip__c},4)</expression>
    </formulas>
    <formulas>
        <description>Enrollment-based</description>
        <name>formulaFirst4OfZipcodeEnrollment</name>
        <dataType>String</dataType>
        <expression>LEFT({!Default_Agent_Enrollments.Agent_Zip_Code__c},4)</expression>
    </formulas>
    <formulas>
        <description>Contact</description>
        <name>formulaFirstLetterAgentFirstName</name>
        <dataType>String</dataType>
        <expression>UPPER(LEFT({!Agents_from_Agency.FirstName},1))</expression>
    </formulas>
    <formulas>
        <name>formulaFirstLetterAgentFirstNameEnrollment</name>
        <dataType>String</dataType>
        <expression>UPPER(LEFT({!Default_Agent_Enrollments.Agent_First_Name__c},1))</expression>
    </formulas>
    <formulas>
        <name>formulaLastNameAgent</name>
        <dataType>String</dataType>
        <expression>UPPER({!Agents_from_Agency.LastName})</expression>
    </formulas>
    <formulas>
        <description>Agent&apos;s last name from Enrollment</description>
        <name>formulaLastNameEnrollment</name>
        <dataType>String</dataType>
        <expression>{!Default_Agent_Enrollments.Agent_Last_Name__c}</expression>
    </formulas>
    <interviewLabel>Agency-based Enrollment Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agency-based Enrollment Updates</label>
    <loops>
        <name>Agencies_found_by_Address</name>
        <label>Agencies found by Address</label>
        <locationX>139</locationX>
        <locationY>344</locationY>
        <collectionReference>Enrollments_by_Address</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Part_of_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collection_to_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Agencies_found_by_CCMID</name>
        <label>Agencies found by CCMID</label>
        <locationX>652</locationX>
        <locationY>47</locationY>
        <collectionReference>Enrollments_by_CCMID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Update_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Enrollments_by_Address</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Agents_from_Agency</name>
        <label>Agents from Agency</label>
        <locationX>1122</locationX>
        <locationY>421</locationY>
        <collectionReference>collectionAgentsBasedOnAgency</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Default_Agent_Enrollments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Enrollment_Agents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Loop through Enrollments under set Agency with Default Agent set</description>
        <name>Default_Agent_Enrollments</name>
        <label>Default Agent Enrollments</label>
        <locationX>1284</locationX>
        <locationY>661</locationY>
        <collectionReference>collectionDefaultAgentEnrollments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Match_between_Agents_and_Enrollments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Agents_from_Agency</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Agency</name>
        <label>Agency</label>
        <locationX>108</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enrollments_by_CCMID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieve list of Agents with the parent Agency as the parent</description>
        <name>collectionAgentsBasedOnAgency</name>
        <label>Agents based on Agency</label>
        <locationX>1112</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Number_of_Agents_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>collectionDefaultAgentEnrollments</name>
        <label>Agent Enrollments</label>
        <locationX>1299</locationX>
        <locationY>49</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Number_of_Default_Agents_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Agent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formulaDefaultAgentID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Enrollment__c</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Enrollments_by_Address</name>
        <label>Enrollments by Address</label>
        <locationX>654</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enrollments_found_II</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agency_Office__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>formulaFirst2OfAgencyName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Agency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formulaDefaultAgencyID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Agent_Address__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>formulaFirst3OfAddressAgency</elementReference>
            </value>
        </filters>
        <filters>
            <field>Agent_Zip_Code__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>formulaFirst4OfZipcodeAgency</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Enrollments_by_CCMID</name>
        <label>Enrollments by CCMID</label>
        <locationX>215</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enrollments_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formulaDefaultAgencyID</elementReference>
            </value>
        </filters>
        <filters>
            <field>CCMID_of_Agency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Agency.CCMID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Enrollment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Enrollment_Agency</name>
        <label>Enrollment Agency</label>
        <locationX>710</locationX>
        <locationY>534</locationY>
        <connector>
            <targetReference>Agency_set</targetReference>
        </connector>
        <inputReference>updatedEnrollmentAgencyCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Enrollment_Agents</name>
        <label>Enrollment Agents</label>
        <locationX>1284</locationX>
        <locationY>412</locationY>
        <connector>
            <targetReference>Summary_Screen</targetReference>
        </connector>
        <inputReference>updatedEnrollmentAgentCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>Summary_Screen</name>
        <label>Summary Screen</label>
        <locationX>1426</locationX>
        <locationY>412</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>AgencySummaryDetails</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Agency statistics:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Total updates to &quot;Agency&quot; field: {!countAgencySet}&lt;/li&gt;&lt;li&gt;By CCMID: {!countEnrollmentByCCMIDAgency}&lt;/li&gt;&lt;li&gt;By Address: {!countEnrollmentByAddressAgency}&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AgentSummaryDetails_found</name>
            <fieldText>&lt;p&gt;&lt;b&gt;&lt;u&gt;Agent statistics:&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;# of Agents under Agency: {!countAgentSet}&lt;/li&gt;&lt;li&gt;# Enrollments with Default Agent under Agency: {!countEnrollmentDefaultAgentsUnderAgency}&lt;/li&gt;&lt;li&gt;# Enrollments updated with valid Agent: {!countAgentsUpdated}&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>countAgentSet</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>countEnrollmentDefaultAgentsUnderAgency</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AgentSummaryDetails_not_found</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 5, 32);&quot;&gt;Either there were no Agents (Contacts) under the Agency, or no Enrollments tied to the Agency and the default (CCMID not found) Agent.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>countAgentSet</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>countEnrollmentDefaultAgentsUnderAgency</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Agency</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>countAgencySet</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countAgentSet</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>countAgentsUpdated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countEnrollmentByAddressAgency</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countEnrollmentByCCMIDAgency</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countEnrollmentDefaultAgentsUnderAgency</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>setEnrollmentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedEnrollmentAgency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment__c</objectType>
    </variables>
    <variables>
        <name>updatedEnrollmentAgencyCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment__c</objectType>
    </variables>
    <variables>
        <description>Updating the Agent field on an Enrollment</description>
        <name>updatedEnrollmentAgent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment__c</objectType>
    </variables>
    <variables>
        <name>updatedEnrollmentAgentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment__c</objectType>
    </variables>
</Flow>
