force-app/main/default/flows/Agency_based_Enrollment_Updates-1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>680</locationX>
        <locationY>201</locationY>
        <assignmentItems>
            <assignToReference>updatedAgencyCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updatedAgency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agencies_found_by_CCMID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_II</name>
        <label>Add to Collection II</label>
        <locationX>682</locationX>
        <locationY>449</locationY>
        <assignmentItems>
            <assignToReference>updatedAgencyCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updatedAgency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Agencies_found_by_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Update_Details</name>
        <label>Assign Update Details</label>
        <locationX>680</locationX>
        <locationY>69</locationY>
        <assignmentItems>
            <assignToReference>updatedAgency.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agencies_found_by_CCMID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedAgency.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countEnrollmentByCCMID</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Update_Details_II</name>
        <label>Assign Update Details II</label>
        <locationX>685</locationX>
        <locationY>328</locationY>
        <assignmentItems>
            <assignToReference>updatedAgency.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agencies_found_by_Address.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedAgency.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countEnrollmentByAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_II</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Collection_to_update</name>
        <label>Collection to update?</label>
        <locationX>519</locationX>
        <locationY>560</locationY>
        <defaultConnector>
            <targetReference>Summary_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_collection_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updatedAgencyCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enrollment_Agency</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enrollments_found</name>
        <label>Enrollments found?</label>
        <locationX>335</locationX>
        <locationY>183</locationY>
        <defaultConnector>
            <targetReference>Enrollments_by_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_enrollments_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enrollments_by_CCMID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agencies_found_by_CCMID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enrollments_found_II</name>
        <label>Enrollments found II?</label>
        <locationX>334</locationX>
        <locationY>490</locationY>
        <defaultConnector>
            <targetReference>Collection_to_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_enrollments_found_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enrollments_by_Address</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agencies_found_by_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Based on updates to the Agency (CCMI, address details), look for possible unmatched Enrollments and connect them</description>
    <formulas>
        <name>formulaDefaultAgencyID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Account_Enrollment_CCMID_Not_Found}</expression>
    </formulas>
    <formulas>
        <name>formulaFirst2OfAgencyName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Agency.Name},2)</expression>
    </formulas>
    <formulas>
        <description>First 3 characters of ShippingStreet</description>
        <name>formulaFirst3OfAddress</name>
        <dataType>String</dataType>
        <expression>LEFT({!Agency.ShippingStreet},3)</expression>
    </formulas>
    <formulas>
        <name>formulaFirst4OfZipcode</name>
        <dataType>String</dataType>
        <expression>LEFT({!Agency.ShippingPostalCode},4)</expression>
    </formulas>
    <interviewLabel>Agency-based Enrollment Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agency-based Enrollment Updates</label>
    <loops>
        <name>Agencies_found_by_Address</name>
        <label>Agencies found by Address</label>
        <locationX>527</locationX>
        <locationY>337</locationY>
        <collectionReference>Enrollments_by_Address</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Update_Details_II</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collection_to_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Agencies_found_by_CCMID</name>
        <label>Agencies found by CCMID</label>
        <locationX>522</locationX>
        <locationY>193</locationY>
        <collectionReference>Enrollments_by_CCMID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Update_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Enrollments_by_Address</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Agency</name>
        <label>Agency</label>
        <locationX>108</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enrollments_by_CCMID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordLookups>
    <recordLookups>
        <name>Enrollments_by_Address</name>
        <label>Enrollments by Address</label>
        <locationX>212</locationX>
        <locationY>420</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enrollments_found_II</targetReference>
        </connector>
        <filters>
            <field>Agency_Office__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>formulaFirst2OfAgencyName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Agency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formulaDefaultAgencyID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Agent_Address__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>formulaFirst3OfAddress</elementReference>
            </value>
        </filters>
        <filters>
            <field>Agent_Zip_Code__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>formulaFirst4OfZipcode</elementReference>
            </value>
        </filters>
        <object>Enrollment__c</object>
    </recordLookups>
    <recordLookups>
        <name>Enrollments_by_CCMID</name>
        <label>Enrollments by CCMID</label>
        <locationX>215</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enrollments_found</targetReference>
        </connector>
        <filters>
            <field>Agency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formulaDefaultAgencyID</elementReference>
            </value>
        </filters>
        <filters>
            <field>CCMID_of_Agency__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Agency.CCMID__c</elementReference>
            </value>
        </filters>
        <object>Enrollment__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Enrollment_Agency</name>
        <label>Enrollment Agency</label>
        <locationX>983</locationX>
        <locationY>561</locationY>
        <connector>
            <targetReference>Summary_Screen</targetReference>
        </connector>
        <inputReference>updatedAgencyCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>Summary_Screen</name>
        <label>Summary Screen</label>
        <locationX>984</locationX>
        <locationY>211</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SummaryDetails</name>
            <fieldText>&lt;p&gt;Associations made:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;By CCMID: {!countEnrollmentByCCMID}&lt;/li&gt;&lt;li&gt;By Address: {!countEnrollmentByAddress}&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Agency</startElementReference>
    <variables>
        <name>countEnrollmentByAddress</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countEnrollmentByCCMID</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedAgency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment__c</objectType>
    </variables>
    <variables>
        <name>updatedAgencyCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment__c</objectType>
    </variables>
</Flow>
