force-app/main/default/flows/Agent_based_Enrollment_Updates-1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>322</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>updatedAgentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updatedAgentOnEnrollment</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>setEnrollmentIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updatedAgentOnEnrollment.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Enrollment_Agents_found_by_CCMID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Collection_II</name>
        <label>Add to Collection II</label>
        <locationX>1097</locationX>
        <locationY>257</locationY>
        <assignmentItems>
            <assignToReference>updatedAgentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updatedAgentOnEnrollment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LOOP_Enrollments_Agents_found_by_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Agent matched by address. Stamp Agent&apos;s Parent Account as the Enrollment.Agency</description>
        <name>Agency_from_address_matched_Agent</name>
        <label>Agency from address-matched Agent</label>
        <locationX>1239</locationX>
        <locationY>257</locationY>
        <assignmentItems>
            <assignToReference>updatedAgentOnEnrollment.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agent.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countEnrollmentAgenciesFromAddressMatchedAgents</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedAgentOnEnrollment.Agency_Matching_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Via Agent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_II</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Agent matched by CCMID. Stamp Agent&apos;s Parent Account as the Enrollment.Agency</description>
        <name>Agency_from_CCMID_matched_Agent</name>
        <label>Agency from CCMID-matched Agent</label>
        <locationX>482</locationX>
        <locationY>369</locationY>
        <assignmentItems>
            <assignToReference>updatedAgentOnEnrollment.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agent.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countEnrollmentAgenciesFromCCMIDMatchedAgents</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedAgentOnEnrollment.Agency_Matching_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Via Agent</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Update_Details</name>
        <label>Assign Update Details</label>
        <locationX>211</locationX>
        <locationY>178</locationY>
        <assignmentItems>
            <assignToReference>updatedAgentOnEnrollment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaEnrollmentIDMatchedByCCMID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedAgentOnEnrollment.Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countEnrollmentAgentsMatchedByCCMID</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedAgentOnEnrollment.Agent_Matching_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CCMID</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Default_Agency_by_CCMID_matched_Agent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Update_Details_II</name>
        <label>Assign Update Details II</label>
        <locationX>1042</locationX>
        <locationY>43</locationY>
        <assignmentItems>
            <assignToReference>updatedAgentOnEnrollment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaEnrollmentIDMatchedByAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>countEnrollmentAgentsMatchedByAddress</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updatedAgentOnEnrollment.Agent_Matching_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Last Name &amp; Address</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Default_Agency_by_address_matched_Agent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Found Enrollments based on Agent&apos;s address details</description>
        <name>Agent_Enrollments_found_II</name>
        <label>Agent.Enrollments found II?</label>
        <locationX>658</locationX>
        <locationY>557</locationY>
        <defaultConnector>
            <targetReference>Collection_to_update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_enrollments_found_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enrollments_Agents_by_Address</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_Enrollments_Agents_found_by_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Collection_to_update</name>
        <label>Collection to update?</label>
        <locationX>913</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Summary_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_collection_to_update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>updatedAgentCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enrollment_Agent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is this Enrollment still pointing to the Default Agency? If so, use the newly-assigned Agent&apos;s AccountId as the Agency</description>
        <name>Default_Agency_by_address_matched_Agent</name>
        <label>Default Agency (by address-matched Agent)?</label>
        <locationX>1221</locationX>
        <locationY>45</locationY>
        <defaultConnector>
            <targetReference>Add_to_Collection_II</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_default_agency_by_address_matched_agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOOP_Enrollments_Agents_found_by_Address.Agency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formulaDefaultAgencyID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agency_from_address_matched_Agent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is this Enrollment still pointing to the Default Agency? If so, use the newly-assigned Agent&apos;s AccountId as the Agency</description>
        <name>Default_Agency_by_CCMID_matched_Agent</name>
        <label>Default Agency (by CCMID-matched Agent)?</label>
        <locationX>473</locationX>
        <locationY>188</locationY>
        <defaultConnector>
            <targetReference>Add_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_default_agency_by_ccmid_matched_agent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LOOP_Enrollment_Agents_found_by_CCMID.Agency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formulaDefaultAgencyID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agency_from_CCMID_matched_Agent</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Enrollment_Agents_found</name>
        <label>Enrollment.Agents found?</label>
        <locationX>47</locationX>
        <locationY>513</locationY>
        <defaultConnector>
            <targetReference>Enrollments_Agents_by_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_enrollments_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Enrollment_Agents_by_CCMID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_Enrollment_Agents_found_by_CCMID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Part_of_Collection</name>
        <label>Part of Collection?</label>
        <locationX>880</locationX>
        <locationY>41</locationY>
        <defaultConnector>
            <targetReference>Assign_Update_Details_II</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_part_of_collection</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>setEnrollmentIDs</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>formulaEnrollmentIDMatchedByAddress</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LOOP_Enrollments_Agents_found_by_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>formulaAgentFirst2OfAgencyName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Agent.Account_Name_Formula__c},2)</expression>
    </formulas>
    <formulas>
        <description>First 3 characters of ShippingStreet</description>
        <name>formulaAgentFirst3OfAddress</name>
        <dataType>String</dataType>
        <expression>LEFT({!Agent.Account_Billing_Street_Address__c},3)</expression>
    </formulas>
    <formulas>
        <name>formulaAgentFirst4OfZipcode</name>
        <dataType>String</dataType>
        <expression>LEFT({!Agent.Account_Billing_Zip__c},4)</expression>
    </formulas>
    <formulas>
        <name>formulaAgentFirstInitial</name>
        <dataType>String</dataType>
        <expression>LEFT({!Agent.FirstName},1)</expression>
    </formulas>
    <formulas>
        <name>formulaDefaultAgencyID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Account_Enrollment_CCMID_Not_Found}</expression>
    </formulas>
    <formulas>
        <name>formulaDefaultAgentID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Contact_Enrollment_CCMID_Not_Found}</expression>
    </formulas>
    <formulas>
        <name>formulaEnrollmentIDMatchedByAddress</name>
        <dataType>String</dataType>
        <expression>LEFT({!LOOP_Enrollments_Agents_found_by_Address.Id},15)</expression>
    </formulas>
    <formulas>
        <name>formulaEnrollmentIDMatchedByCCMID</name>
        <dataType>String</dataType>
        <expression>LEFT({!LOOP_Enrollment_Agents_found_by_CCMID.Id},15)</expression>
    </formulas>
    <interviewLabel>Agent-based Enrollment Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agent-based Enrollment Updates</label>
    <loops>
        <name>LOOP_Enrollment_Agents_found_by_CCMID</name>
        <label>Enrollment.Agents found by CCMID</label>
        <locationX>209</locationX>
        <locationY>369</locationY>
        <collectionReference>Enrollment_Agents_by_CCMID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Update_Details</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Enrollments_Agents_by_Address</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LOOP_Enrollments_Agents_found_by_Address</name>
        <label>Enrollments.Agents found by Address</label>
        <locationX>670</locationX>
        <locationY>187</locationY>
        <collectionReference>Enrollments_Agents_by_Address</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Part_of_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Collection_to_update</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Agent</name>
        <label>Agent</label>
        <locationX>56</locationX>
        <locationY>181</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enrollment_Agents_by_CCMID</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <name>Enrollment_Agents_by_CCMID</name>
        <label>Enrollment.Agents by CCMID</label>
        <locationX>55</locationX>
        <locationY>310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Enrollment_Agents_found</targetReference>
        </connector>
        <filters>
            <field>Agent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formulaDefaultAgentID</elementReference>
            </value>
        </filters>
        <filters>
            <field>CCMID_of_Agent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Agent.CCMID__c</elementReference>
            </value>
        </filters>
        <object>Enrollment__c</object>
    </recordLookups>
    <recordLookups>
        <description>Search Enrollment records tied to default Agent but with matching address details</description>
        <name>Enrollments_Agents_by_Address</name>
        <label>Enrollments.Agents by Address</label>
        <locationX>344</locationX>
        <locationY>555</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agent_Enrollments_found_II</targetReference>
        </connector>
        <filters>
            <field>Agency_Office__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>formulaAgentFirst2OfAgencyName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Agent_Address__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>formulaAgentFirst3OfAddress</elementReference>
            </value>
        </filters>
        <filters>
            <field>Agent_Zip_Code__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>formulaAgentFirst4OfZipcode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Agent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formulaDefaultAgentID</elementReference>
            </value>
        </filters>
        <object>Enrollment__c</object>
    </recordLookups>
    <recordUpdates>
        <name>Enrollment_Agent</name>
        <label>Enrollment Agent</label>
        <locationX>1231</locationX>
        <locationY>535</locationY>
        <connector>
            <targetReference>Summary_Screen</targetReference>
        </connector>
        <inputReference>updatedAgentCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>Summary_Screen</name>
        <label>Summary Screen</label>
        <locationX>1232</locationX>
        <locationY>383</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SummaryDetails</name>
            <fieldText>&lt;p&gt;Agent statistics:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Matched by CCMID: {!countEnrollmentAgentsMatchedByCCMID}&lt;/li&gt;&lt;li&gt;Matched by Address: {!countEnrollmentAgentsMatchedByAddress}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Agency statistics:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;Matched by Agent matched by CCMID: {!countEnrollmentAgenciesFromCCMIDMatchedAgents}&lt;/li&gt;&lt;li&gt;Matched by Agent matched by Address: {!countEnrollmentAgenciesFromAddressMatchedAgents}&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Agent</startElementReference>
    <variables>
        <name>countEnrollmentAgenciesFromAddressMatchedAgents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countEnrollmentAgenciesFromCCMIDMatchedAgents</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countEnrollmentAgentsMatchedByAddress</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>countEnrollmentAgentsMatchedByCCMID</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>setEnrollmentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>updatedAgencyCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment__c</objectType>
    </variables>
    <variables>
        <description>Collection of Enrollment records to be updated with updated Agent reference</description>
        <name>updatedAgentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment__c</objectType>
    </variables>
    <variables>
        <name>updatedAgentOnEnrollment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment__c</objectType>
    </variables>
</Flow>
