force-app/main/default/flows/Create_Event_with_Custom_Email_Reminders-20.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assign_Campaign_Member_Variables</name>
        <label>Assign Campaign Member Variables</label>
        <locationX>1678</locationX>
        <locationY>718</locationY>
        <assignmentItems>
            <assignToReference>sObjCampaignMember.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactValueinLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCampaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Campaign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCampaignMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Invited</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCampaignMember.Date_to_Send_Event_Email_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_to_Send_Email_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCampaignMember.Date_to_Send_Event_Email_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_to_Send_Email_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCampaignMember.Date_to_Send_Event_Email_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_to_send_Email_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCampaignMember.Event_Email_1_Custom_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Custom_Text_for_Email_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCampaignMember.Event_Email_2_Custom_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Custom_Text_for_Email_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCampaignMember.Event_Email_3_Custom_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Custom_Text_for_Email_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCampaignMember.Event_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EventDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCampaignMember.Event_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EventTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCampaignMember.Date_to_Send_Automated_Follow_Up__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_to_send_automated_follow_up</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCampaignMember.Date_to_Send_Customized_Follow_Up__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_to_send_conditional_follow_up</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCampaignMember.Attendee_Custom_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Custom_Text_for_Attendees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCampaignMember.No_Show_Custom_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Custom_Text_for_No_Shows</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCampaignMember.Event_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>picklistEventType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCampaignMember.Event_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Event_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjCampaignMember.Event_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Event_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Group_Selected_Campaign_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Group_Selected_Campaign_Members</name>
        <label>Group Selected Campaign Members</label>
        <locationX>1468</locationX>
        <locationY>718</locationY>
        <assignmentItems>
            <assignToReference>groupSelectedCampaignMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObjCampaignMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AM</name>
        <choiceText>AM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AM</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoDoNotIncludeMoreContacts</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>PM</name>
        <choiceText>PM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PM</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesIncludeMoreContacts</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Alternate_Account_Selected</name>
        <label>Alternate Account Selected</label>
        <locationX>973</locationX>
        <locationY>156</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invite_Contacts_from_Other_Accounts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InviteOtherContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesIncludeMoreContacts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts</targetReference>
            </connector>
            <label>Invite Contacts from Other Accounts</label>
        </rules>
        <rules>
            <name>No_Other_Account_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InviteOtherContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoDoNotIncludeMoreContacts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contacts_at_Only_First_Account</targetReference>
            </connector>
            <label>No Other Account Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_InviteOtherContacts</name>
        <label>InviteOtherContacts</label>
        <locationX>300</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>Define_the_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesInviteOthers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InviteOtherContacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>YesIncludeMoreContacts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Another_Account</targetReference>
            </connector>
            <label>YesInviteOthers</label>
        </rules>
        <rules>
            <name>NoDoNotInviteOthers</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invite_More_Contacts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NoDoNotIncludeMoreContacts</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Define_the_Campaign</targetReference>
            </connector>
            <label>NoDoNotInviteOthers</label>
        </rules>
    </decisions>
    <decisions>
        <name>Selected_Contacts</name>
        <label>Selected Contacts</label>
        <locationX>1678</locationX>
        <locationY>583</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OUTCOME_Selected_Contacts</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Select_Contacts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ContactValueinLoop.Email</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Select_all</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Invite_More_Contacts</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ContactValueinLoop.Email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Campaign_Member_Variables</targetReference>
            </connector>
            <label>Selected Contacts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_2</name>
        <label>Send Email 2</label>
        <locationX>689</locationX>
        <locationY>155</locationY>
        <defaultConnector>
            <targetReference>Post_Event_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeYesSendEventEmail2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesSendEventEmail2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_2</targetReference>
            </connector>
            <label>YesSendEventEmail2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email_3</name>
        <label>Send Email 3</label>
        <locationX>821</locationX>
        <locationY>453</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OutcomeYesSendEmail3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesSendEventEmail3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_3</targetReference>
            </connector>
            <label>YesSendEmail3</label>
        </rules>
        <rules>
            <name>Do_Not_Send_Email_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoDoNotSendEventEmail3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Event_Email</targetReference>
            </connector>
            <label>Do Not Send Email 3</label>
        </rules>
    </decisions>
    <description>using email instead of last name</description>
    <dynamicChoiceSets>
        <name>ContactsfromAlternateAccount</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AlternateAccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>singleSelectedContact</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>singleSelectedContactLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <valueField>Email</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InPersonVirtual</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>In_Person_Virtual__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picklistEventType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Event_Type__c</picklistField>
        <picklistObject>Campaign</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SelectContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>singleSelectedContactEmail</assignToReference>
            <field>Email</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>singleSelectedContact</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>singleSelectedContactLastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
        <valueField>Email</valueField>
    </dynamicChoiceSets>
    <formulas>
        <name>EventDate</name>
        <dataType>String</dataType>
        <expression>CASE(
MONTH( {!Event_Date} ),
1, &quot;January&quot;,
2, &quot;February&quot;,
3, &quot;March&quot;,
4, &quot;April&quot;,
5, &quot;May&quot;,
6, &quot;June&quot;,
7, &quot;July&quot;,
8, &quot;August&quot;,
9, &quot;September&quot;,
10, &quot;October&quot;,
11, &quot;November&quot;,
&quot;December&quot;
)

&amp;&quot; &quot;&amp;TEXT(DAY({!Event_Date}))

&amp;&quot;, &quot;&amp;
TEXT(YEAR({!Event_Date}))</expression>
    </formulas>
    <formulas>
        <name>EventTime</name>
        <dataType>String</dataType>
        <expression>{!Event_Time}&amp;&quot; &quot;&amp;{!AM_PM}</expression>
    </formulas>
    <interviewLabel>Create Event with Custom Email Reminders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Event with Custom Email Reminders</label>
    <loops>
        <name>Loop_through_Contacts</name>
        <label>Loop through Contacts</label>
        <locationX>1468</locationX>
        <locationY>570</locationY>
        <assignNextValueToReference>ContactValueinLoop</assignNextValueToReference>
        <collectionReference>curContacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Selected_Contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Campaign_Members_for_Selected_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Campaign</name>
        <label>Create Campaign</label>
        <locationX>1306</locationX>
        <locationY>103</locationY>
        <connector>
            <targetReference>Create_Campaign_Member_Status_Invited</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Automated_Follow_Up_Date__c</field>
            <value>
                <elementReference>Date_to_send_automated_follow_up</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Custom_Follow_Up_Date__c</field>
            <value>
                <elementReference>Date_to_send_conditional_follow_up</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Custom_Text_Attendees__c</field>
            <value>
                <elementReference>Custom_Text_for_Attendees</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Custom_Text_No_Shows__c</field>
            <value>
                <elementReference>Custom_Text_for_No_Shows</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_to_Send_Event_Email_1__c</field>
            <value>
                <elementReference>Date_to_Send_Email_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_to_Send_Event_Email_2__c</field>
            <value>
                <elementReference>Date_to_Send_Email_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_to_Send_Event_Email_3__c</field>
            <value>
                <elementReference>Date_to_send_Email_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date__c</field>
            <value>
                <elementReference>EventDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Email_1_Custom_Text__c</field>
            <value>
                <elementReference>Custom_Text_for_Email_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Email_2_Custom_Text__c</field>
            <value>
                <elementReference>Custom_Text_for_Email_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Email_3_Custom_Text__c</field>
            <value>
                <elementReference>Custom_Text_for_Email_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Location__c</field>
            <value>
                <elementReference>Event_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Time__c</field>
            <value>
                <elementReference>EventTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Type__c</field>
            <value>
                <elementReference>Event_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>In_Person_Virtual__c</field>
            <value>
                <elementReference>In_Person_or_Virtual</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsActive</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Event_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121H000001eXzcQAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Planned</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Event</stringValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Status_Attended</name>
        <label>Create Campaign Member Status Attended</label>
        <locationX>1306</locationX>
        <locationY>412</locationY>
        <connector>
            <targetReference>Create_Campaign_Member_Status_Did_Not_Attend</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Create_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HasResponded</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Attended</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Status_Did_Not_Attend</name>
        <label>Create Campaign Member Status Did Not Attend</label>
        <locationX>1306</locationX>
        <locationY>569</locationY>
        <connector>
            <targetReference>Loop_through_Contacts</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Create_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Did Not Attend</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Member_Status_Invited</name>
        <label>Create Campaign Member Status Invited</label>
        <locationX>1306</locationX>
        <locationY>265</locationY>
        <connector>
            <targetReference>Create_Campaign_Member_Status_Attended</targetReference>
        </connector>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>Create_Campaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsDefault</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Label</field>
            <value>
                <stringValue>Invited</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SortOrder</field>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </inputAssignments>
        <object>CampaignMemberStatus</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Campaign_Members_for_Selected_Contacts</name>
        <label>Create Campaign Members for Selected Contacts</label>
        <locationX>1468</locationX>
        <locationY>445</locationY>
        <connector>
            <targetReference>Delete_Default_Sent_Status</targetReference>
        </connector>
        <inputReference>groupSelectedCampaignMembers</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Default_Responded_Status</name>
        <label>Delete Default Responded Status</label>
        <locationX>1698</locationX>
        <locationY>293</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Campaign</elementReference>
            </value>
        </filters>
        <filters>
            <field>SortOrder</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Default_Sent_Status</name>
        <label>Delete Default Sent Status</label>
        <locationX>1469</locationX>
        <locationY>293</locationY>
        <connector>
            <targetReference>Delete_Default_Responded_Status</targetReference>
        </connector>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Campaign</elementReference>
            </value>
        </filters>
        <filters>
            <field>SortOrder</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <object>CampaignMemberStatus</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>153</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Contacts_to_Invite</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>1173</locationX>
        <locationY>149</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Campaign</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AlternateAccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>curContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts_at_Only_First_Account</name>
        <label>Get Contacts at Only First Account</label>
        <locationX>978</locationX>
        <locationY>20</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Campaign</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>curContacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <screens>
        <name>Define_the_Campaign</name>
        <label>Define the Campaign</label>
        <locationX>441</locationX>
        <locationY>153</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Event_Email_1</targetReference>
        </connector>
        <fields>
            <name>Event_Name</name>
            <dataType>String</dataType>
            <fieldText>Event Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Event_Date</name>
            <dataType>Date</dataType>
            <fieldText>Event Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Event_Time</name>
            <dataType>String</dataType>
            <fieldText>Event Time</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter the time in 12:15 (HH:MM) format. This time will appear on your event emails. Select AM/PM in the next field.&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Enter the event time in HH:MM format. Select AM/PM in the next field.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Event_Time}) &lt; 6</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>AM_PM</name>
            <choiceReferences>AM</choiceReferences>
            <choiceReferences>PM</choiceReferences>
            <dataType>String</dataType>
            <fieldText>AM/PM</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Event_Type</name>
            <choiceReferences>picklistEventType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Event Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>In_Person_or_Virtual</name>
            <choiceReferences>InPersonVirtual</choiceReferences>
            <dataType>String</dataType>
            <fieldText>In Person or Virtual</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Event_Location</name>
            <dataType>String</dataType>
            <fieldText>Event Location</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_2</name>
        <label>Email 2</label>
        <locationX>698</locationX>
        <locationY>451</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Email_3</targetReference>
        </connector>
        <fields>
            <name>EventEmail2Display</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>EventEmail2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_to_Send_Email_2</name>
            <dataType>Date</dataType>
            <fieldText>Date to Send Email 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Custom_Text_for_Email_2</name>
            <dataType>String</dataType>
            <fieldText>Custom Text for Email 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EventEmail3Preview</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>EventEmail3</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q_SendEventEmail3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Send Event Email #3?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>YesSendEventEmail3</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NoDoNotSendEventEmail3</name>
            <dataType>Boolean</dataType>
            <fieldText>No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_3</name>
        <label>Email 3</label>
        <locationX>994</locationX>
        <locationY>448</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Post_Event_Email</targetReference>
        </connector>
        <fields>
            <name>DisplayEmail33</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>EventEmail3</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_to_send_Email_3</name>
            <dataType>Date</dataType>
            <fieldText>Date to send Email 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Custom_Text_for_Email_3</name>
            <dataType>String</dataType>
            <fieldText>Custom Text for Email 3</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Event_Email_1</name>
        <label>Event Email #1</label>
        <locationX>591</locationX>
        <locationY>153</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Email_2</targetReference>
        </connector>
        <fields>
            <name>DISPLAY_EventEmail1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Event Email 1 Preview&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EventEmail1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>EventEmail1</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_to_Send_Email_1</name>
            <dataType>Date</dataType>
            <fieldText>Date to Send Email 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Custom_Text_for_Email_1</name>
            <dataType>String</dataType>
            <fieldText>Custom Text for Email 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DISPLAY_EventEmail2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Event Email 2 Preview&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EventEmail2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>EventEmail2</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Q_SendEventEmail2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Send Event Email #2?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>YesSendEventEmail2</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NoDoNotSendEventEmail2</name>
            <dataType>Boolean</dataType>
            <fieldText>No</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>InviteMoreContacts</name>
        <label>InviteMoreContacts</label>
        <locationX>446</locationX>
        <locationY>453</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Define_the_Campaign</targetReference>
        </connector>
        <fields>
            <name>Invite_More_Contacts</name>
            <choiceReferences>ContactsfromAlternateAccount</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Invite More Contacts</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Post_Event_Email</name>
        <label>Post Event Email</label>
        <locationX>848</locationX>
        <locationY>153</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Alternate_Account_Selected</targetReference>
        </connector>
        <fields>
            <name>PostEventEmails</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;How would you like to communicate with attendees following the event?&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_not_schedule_a_post_event_email</name>
            <dataType>Boolean</dataType>
            <fieldText>Do not schedule a post-event email. I will decide after the event what I want to send.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>BlankSpace0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Send_a_generic_post_event_email</name>
            <dataType>Boolean</dataType>
            <fieldText>I will not update the event status. Send a generic email after the event to all attendees.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_to_send_automated_follow_up</name>
            <dataType>Date</dataType>
            <fieldText>Date to send automated follow up</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BlankSpace1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>I_will_update_the_event_status_Send_separate_emails_for_attendees_who_attended_a</name>
            <dataType>Boolean</dataType>
            <fieldText>I will update the event status. Send separate emails for attendees who attended and did not attend.</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Date_to_send_conditional_follow_up</name>
            <dataType>Date</dataType>
            <fieldText>Date to send conditional follow up</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Custom_Text_for_Attendees</name>
            <dataType>String</dataType>
            <fieldText>Custom Text for Attendees</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Custom_Text_for_No_Shows</name>
            <dataType>String</dataType>
            <fieldText>Custom Text for No Shows</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Another_Account</name>
        <label>Select Another Account</label>
        <locationX>308</locationX>
        <locationY>453</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>InviteMoreContacts</targetReference>
        </connector>
        <fields>
            <name>Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Alternate_Account_for_Campaign_Invitatio__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Contacts from Another Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>AlternateAccountId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Contacts_to_Invite</name>
        <label>Select Contacts to Invite</label>
        <locationX>308</locationX>
        <locationY>151</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Decision_InviteOtherContacts</targetReference>
        </connector>
        <fields>
            <name>Select_all</name>
            <dataType>Boolean</dataType>
            <fieldText>Select all</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Select_Contacts</name>
            <choiceReferences>SelectContacts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Contacts</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>InviteOtherContacts</name>
            <choiceReferences>YesIncludeMoreContacts</choiceReferences>
            <choiceReferences>NoDoNotIncludeMoreContacts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Invite Contacts from Another Account?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success!</label>
        <locationX>1900</locationX>
        <locationY>294</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;&lt;i&gt;Success! &lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your event has been created! Reminder emails will launch on the days you selected.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Account</startElementReference>
    <variables>
        <name>AlternateAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>collectSelectedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactValueinLoop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>curContact2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>curContacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>groupSelectedCampaignMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>singleSelectedContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>singleSelectedContactEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>singleSelectedContactLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sObjCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>StoreSelectedContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
