force-app/main/default/flows/Enrollment_FAST_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Status_Success</name>
        <label>Status: Success</label>
        <locationX>79</locationX>
        <locationY>702</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Default_Agency</name>
        <label>Default Agency</label>
        <locationX>252</locationX>
        <locationY>707</locationY>
        <assignmentItems>
            <assignToReference>$Record.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDefaultAgencyID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Default_Agent</name>
        <label>Default Agent</label>
        <locationX>751</locationX>
        <locationY>264</locationY>
        <assignmentItems>
            <assignToReference>$Record.Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDefaultAgentID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the Agency with the found ID based on address search, and set the Agent to the default Agent.</description>
        <name>Found_Agency_by_Address</name>
        <label>Found Agency by Address</label>
        <locationX>248</locationX>
        <locationY>573</locationY>
        <assignmentItems>
            <assignToReference>$Record.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agency_by_Street_Zip.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Agency_Matching_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Address &amp; Zipcode</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Update the Agency with the found ID based on CCMID search, and set the Agent to the default Agent.</description>
        <name>Found_Agency_by_CCMID</name>
        <label>Found Agency by CCMID</label>
        <locationX>551</locationX>
        <locationY>366</locationY>
        <assignmentItems>
            <assignToReference>$Record.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agency_by_CCMID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Agency_Matching_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CCMID</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Agent_from_address</name>
        <label>Agent from Address</label>
        <locationX>881</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>$Record.Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soAgent_by_Address.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Agent_Matching_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Last Name &amp; Address</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Agent_from_CCMID</name>
        <label>Agent from CCMID</label>
        <locationX>556</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>$Record.Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soAgent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Agent_Matching_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CCMID</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_updated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Agency_found</name>
        <label>Agency found?</label>
        <locationX>681</locationX>
        <locationY>699</locationY>
        <defaultConnector>
            <targetReference>Default_Agency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Agency_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agency_by_Street_Zip</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_Agency_by_Address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Agent_found</name>
        <label>Agent found?</label>
        <locationX>418</locationX>
        <locationY>22</locationY>
        <defaultConnector>
            <targetReference>soAgent_by_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Agent_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soAgent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Agent_from_CCMID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Agent_found_by_address</name>
        <label>Agent found?</label>
        <locationX>882</locationX>
        <locationY>19</locationY>
        <defaultConnector>
            <targetReference>Default_Agent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Agent_found_by_address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soAgent_by_Address</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Agent_from_address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Field_updated</name>
        <label>Field updated</label>
        <locationX>69</locationX>
        <locationY>320</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CCMID_of_Agency_was_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CCMID_of_Agency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CCMID_of_Agency__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Agency_by_CCMID</targetReference>
            </connector>
            <label>CCMID of Agency</label>
        </rules>
        <rules>
            <name>CCMID_of_Agent_field_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CCMID_of_Agent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CCMID_of_Agent__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>soAgent</targetReference>
            </connector>
            <label>CCMID of Agent</label>
        </rules>
        <rules>
            <name>Status_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agency_Matching_Method__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agent_Matching_Method__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Success</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Status_Success</targetReference>
            </connector>
            <label>Status: Success?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_by_CCMID</name>
        <label>Found by CCMID</label>
        <locationX>847</locationX>
        <locationY>465</locationY>
        <defaultConnector>
            <targetReference>Agency_by_Street_Zip</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Agency_found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agency_by_CCMID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_Agency_by_CCMID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>If both the agent &amp; agency matching methods were populated, the status can be updated to &quot;Success&quot; (2)</description>
    <formulas>
        <description>Account ID of &quot;Enrollment CCMID Not Found&quot; Account record</description>
        <name>formulaDefaultAgencyID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Account_Enrollment_CCMID_Not_Found}</expression>
    </formulas>
    <formulas>
        <description>Contact ID of &quot;Enrollment CCMID Not Found&quot; Contact record</description>
        <name>formulaDefaultAgentID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Contact_Enrollment_CCMID_Not_Found}</expression>
    </formulas>
    <formulas>
        <name>formulaFirst2OfAgencyName</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Agency_Office__c},2)</expression>
    </formulas>
    <formulas>
        <description>First 3 digits of Property Address</description>
        <name>formulaFirst3OfAddress</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Agent_Address__c},3)</expression>
    </formulas>
    <formulas>
        <description>First 4 digits of property zip code</description>
        <name>formulaFirst4OfZipcode</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Agent_Zip_Code__c},4)</expression>
    </formulas>
    <formulas>
        <name>formulaFirstInitial</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Agent_First_Name__c},1)</expression>
    </formulas>
    <interviewLabel>Enrollment FAST Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enrollment FAST Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Agency_by_CCMID</name>
        <label>Agency by CCMID</label>
        <locationX>553</locationX>
        <locationY>471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_by_CCMID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CCMID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CCMID_of_Agency__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Agency_by_Street_Zip</name>
        <label>Agency by Street/Zip</label>
        <locationX>850</locationX>
        <locationY>697</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agency_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>formulaFirst2OfAgencyName</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingPostalCode</field>
            <operator>Contains</operator>
            <value>
                <elementReference>formulaFirst4OfZipcode</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingStreet</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>formulaFirst3OfAddress</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>soAgent</name>
        <label>Agent</label>
        <locationX>426</locationX>
        <locationY>167</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agent_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CCMID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CCMID_of_Agent__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>soAgent_by_Address</name>
        <label>Agent by Address</label>
        <locationX>765</locationX>
        <locationY>17</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agent_found_by_address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Billing_Street_Address__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>formulaFirst3OfAddress</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Billing_Zip__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>formulaFirst4OfZipcode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Name_Formula__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>formulaFirst2OfAgencyName</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>formulaFirstInitial</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Agent_Last_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Field_updated</targetReference>
        </connector>
        <object>Enrollment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Used to distinguish searches based on CCMID vs adddress fields; values: CCMID,</description>
        <name>varSearchMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CCMID</stringValue>
        </value>
    </variables>
</Flow>
