force-app/main/default/flows/Enrollment_CCMID_clean_up-7.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Stamp new Agency ID onto Enrollment</description>
        <name>Assign_Agency_from_new_record</name>
        <label>Enrollment.Agency</label>
        <locationX>883</locationX>
        <locationY>227</locationY>
        <assignmentItems>
            <assignToReference>varAgencyID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAgency.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolUpdateRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Stamp new Agency ID onto Enrollment</description>
        <name>Assign_Agency_from_queried_Agency</name>
        <label>Enrollment.Agency</label>
        <locationX>588</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>varAgencyID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>queryAgency.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolUpdateRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_agency_details</name>
        <label>Assign new agency details</label>
        <locationX>880</locationX>
        <locationY>33</locationY>
        <assignmentItems>
            <assignToReference>NewAgency.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agency_Office__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAgency.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agent_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAgency.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agent_Zip_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAgency.CCMID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CCMID_of_Agency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>soNewAgency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_agent_details</name>
        <label>Assign new agent details</label>
        <locationX>900</locationX>
        <locationY>690</locationY>
        <assignmentItems>
            <assignToReference>NewAgent.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agent_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAgent.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agent_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAgent.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAgencyID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Agent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enrollment_Agent_from_new_record</name>
        <label>Enrollment.Agent</label>
        <locationX>893</locationX>
        <locationY>522</locationY>
        <assignmentItems>
            <assignToReference>varAgentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAgent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolUpdateRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enrollment_Agent_from_new_record_0</name>
        <label>Enrollment.Agent</label>
        <locationX>592</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varAgentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>queryAgent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolUpdateRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_variables</name>
        <label>Initialize variables</label>
        <locationX>354</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>varAgencyID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAgentID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Enrollment_Assignment</name>
        <label>Update Enrollment</label>
        <locationX>135</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>UpdatedEnrollment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedEnrollment.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAgencyID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedEnrollment.Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varAgentID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enrollment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Field_set</name>
        <label>Field set</label>
        <locationX>413</locationX>
        <locationY>366</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agency_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAgencyID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formulaDefaultAgencyID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>queryAgency</targetReference>
            </connector>
            <label>Agency set</label>
        </rules>
        <rules>
            <name>Agent_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAgentID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formulaDefaultAgentID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>queryAgent</targetReference>
            </connector>
            <label>Agent set</label>
        </rules>
        <rules>
            <name>Update_Enrollment_option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolUpdateRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment_Assignment</targetReference>
            </connector>
            <label>Update Enrollment?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queried_Agency_exists</name>
        <label>Queried Agency exists?</label>
        <locationX>581</locationX>
        <locationY>33</locationY>
        <defaultConnector>
            <targetReference>Assign_new_agency_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_queried_agency_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>queryAgency</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Agency_from_queried_Agency</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Queried_Agent_exists</name>
        <label>Queried Agent exists?</label>
        <locationX>582</locationX>
        <locationY>694</locationY>
        <defaultConnector>
            <targetReference>Assign_new_agent_details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_queried_agent_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>queryAgent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enrollment_Agent_from_new_record_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Scheduled flow to lookup up agency &amp; agent info and create, if necessary, then associate to Enrollment record</description>
    <formulas>
        <description>Record ID of Account/Agency if no real Agency was found</description>
        <name>formulaDefaultAgencyID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Account_Enrollment_CCMID_Not_Found}</expression>
    </formulas>
    <formulas>
        <description>Record ID of Contact used when no real Agent is found</description>
        <name>formulaDefaultAgentID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Contact_Enrollment_CCMID_Not_Found}</expression>
    </formulas>
    <interviewLabel>[{!$Record.Name}] Enrollment CCMID clean-up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enrollment CCMID clean-up</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Agent</name>
        <label>New Agent</label>
        <locationX>1159</locationX>
        <locationY>682</locationY>
        <connector>
            <targetReference>Enrollment_Agent_from_new_record</targetReference>
        </connector>
        <inputReference>NewAgent</inputReference>
    </recordCreates>
    <recordCreates>
        <name>soNewAgency</name>
        <label>New Agency</label>
        <locationX>1129</locationX>
        <locationY>40</locationY>
        <connector>
            <targetReference>Assign_Agency_from_new_record</targetReference>
        </connector>
        <inputReference>NewAgency</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Check if the Agency has been created in the meantime</description>
        <name>queryAgency</name>
        <label>Agency</label>
        <locationX>436</locationX>
        <locationY>31</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queried_Agency_exists</targetReference>
        </connector>
        <filters>
            <field>CCMID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CCMID_of_Agency__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Agency_Office__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingPostalCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Agent_Zip_Code__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingStreet</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Agent_Address__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordLookups>
    <recordLookups>
        <description>Check if the Agent has been created in the meantime</description>
        <name>queryAgent</name>
        <label>Agent</label>
        <locationX>421</locationX>
        <locationY>691</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Queried_Agent_exists</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAgencyID</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Agent_First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Agent_Last_Name__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordUpdates>
        <name>Update_Enrollment</name>
        <label>Enrollment</label>
        <locationX>135</locationX>
        <locationY>534</locationY>
        <inputReference>UpdatedEnrollment</inputReference>
    </recordUpdates>
    <startElementReference>Initialize_variables</startElementReference>
    <variables>
        <description>Should the Enrollment be updated?</description>
        <name>boolUpdateRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NewAgency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NewAgent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UpdatedEnrollment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment__c</objectType>
    </variables>
    <variables>
        <name>varAgencyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAgentID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
