force-app/main/default/flows/Enrollment_FAST_Updates-14.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Update the Agency with the found ID based on address search, and set the Agent to the default Agent.</description>
        <name>Default_Agent_Found_Agency</name>
        <label>Default Agent / Found Agency</label>
        <locationX>244</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>$Record.Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDefaultAgentID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agency_by_Street_Zip.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Update the Agency with the found ID based on CCMID search, and set the Agent to the default Agent.</description>
        <name>Default_Agent_Found_Agency_by_CCMID</name>
        <label>Default Agent / Found Agency</label>
        <locationX>736</locationX>
        <locationY>705</locationY>
        <assignmentItems>
            <assignToReference>$Record.Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDefaultAgentID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Agency_by_CCMID.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Search_by_Name_and_Address</name>
        <label>Search by Name &amp; Address</label>
        <locationX>1181</locationX>
        <locationY>265</locationY>
        <assignmentItems>
            <assignToReference>varSearchMethod</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Name &amp; Address</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Method</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>set_Agent_Agency_from_address</name>
        <label>Agent / Agency</label>
        <locationX>1190</locationX>
        <locationY>548</locationY>
        <assignmentItems>
            <assignToReference>$Record.Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soAgent_by_Address.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soAgent_by_Address.AccountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_Agent_Agency_from_CCMID</name>
        <label>Agent / Agency</label>
        <locationX>1344</locationX>
        <locationY>67</locationY>
        <assignmentItems>
            <assignToReference>$Record.Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soAgent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soAgent.AccountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>set_Agent_Agency_from_default_Agent_Agency</name>
        <label>Default Agent / Default Agency</label>
        <locationX>402</locationX>
        <locationY>685</locationY>
        <assignmentItems>
            <assignToReference>$Record.Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDefaultAgentID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formulaDefaultAgencyID</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Agency_found</name>
        <label>Agency found?</label>
        <locationX>390</locationX>
        <locationY>547</locationY>
        <defaultConnector>
            <targetReference>set_Agent_Agency_from_default_Agent_Agency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Agency_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agency_by_Street_Zip</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Agent_Found_Agency</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Agent_found</name>
        <label>Agent found?</label>
        <locationX>1181</locationX>
        <locationY>68</locationY>
        <defaultConnector>
            <targetReference>Search_by_Name_and_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Agent_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soAgent</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Agent_Agency_from_CCMID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Agent_found_by_address</name>
        <label>Agent found?</label>
        <locationX>1022</locationX>
        <locationY>548</locationY>
        <defaultConnector>
            <targetReference>Agency_by_CCMID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Agent_found_by_address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>soAgent_by_Address</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_Agent_Agency_from_address</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Field_updated</name>
        <label>Field updated</label>
        <locationX>168</locationX>
        <locationY>283</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CCMID_of_Agent_field_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CCMID_of_Agent__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CCMID_of_Agent__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Agent__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>formulaDefaultAgentID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Method</targetReference>
            </connector>
            <label>CCMID of Agent</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found_by_CCMID</name>
        <label>Found by CCMID</label>
        <locationX>728</locationX>
        <locationY>549</locationY>
        <defaultConnector>
            <targetReference>Agency_by_Street_Zip</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Agency_found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Agency_by_CCMID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Agent_Found_Agency_by_CCMID</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Search_Method</name>
        <label>Search Method</label>
        <locationX>771</locationX>
        <locationY>273</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CCMID_option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSearchMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CCMID</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>soAgent</targetReference>
            </connector>
            <label>CCMID</label>
        </rules>
        <rules>
            <name>Name_and_Address_option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSearchMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Name &amp; Address</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>soAgent_by_Address</targetReference>
            </connector>
            <label>Name &amp; Address</label>
        </rules>
    </decisions>
    <description>Updated address search with *shipping* fields</description>
    <formulas>
        <description>Account ID of &quot;Enrollment CCMID Not Found&quot; Account record</description>
        <name>formulaDefaultAgencyID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Account_Enrollment_CCMID_Not_Found}</expression>
    </formulas>
    <formulas>
        <description>Contact ID of &quot;Enrollment CCMID Not Found&quot; Contact record</description>
        <name>formulaDefaultAgentID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Contact_Enrollment_CCMID_Not_Found}</expression>
    </formulas>
    <formulas>
        <name>formulaFirst2OfAgencyName</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Agency_Office__c},2)</expression>
    </formulas>
    <formulas>
        <description>First 3 digits of Property Address</description>
        <name>formulaFirst3OfAddress</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Agent_Address__c},3)</expression>
    </formulas>
    <formulas>
        <description>First 4 digits of property zip code</description>
        <name>formulaFirst4OfZipcode</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Agent_Zip_Code__c},4)</expression>
    </formulas>
    <formulas>
        <name>formulaFirstInitial</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.NAME_FIRST__c},1)</expression>
    </formulas>
    <interviewLabel>Enrollment FAST Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enrollment FAST Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Agency_by_CCMID</name>
        <label>Agency by CCMID</label>
        <locationX>878</locationX>
        <locationY>547</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_by_CCMID</targetReference>
        </connector>
        <filters>
            <field>CCMID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CCMID_of_Agency__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordLookups>
    <recordLookups>
        <name>Agency_by_Street_Zip</name>
        <label>Agency by Street/Zip</label>
        <locationX>542</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agency_found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>formulaFirst2OfAgencyName</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingPostalCode</field>
            <operator>Contains</operator>
            <value>
                <elementReference>formulaFirst4OfZipcode</elementReference>
            </value>
        </filters>
        <filters>
            <field>ShippingStreet</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>formulaFirst3OfAddress</elementReference>
            </value>
        </filters>
        <object>Account</object>
    </recordLookups>
    <recordLookups>
        <name>soAgent</name>
        <label>Agent</label>
        <locationX>415</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agent_found</targetReference>
        </connector>
        <filters>
            <field>CCMID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CCMID_of_Agent__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <recordLookups>
        <name>soAgent_by_Address</name>
        <label>Agent</label>
        <locationX>1030</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agent_found_by_address</targetReference>
        </connector>
        <filters>
            <field>Account_Billing_Street_Address__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>formulaFirst3OfAddress</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Billing_Zip__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>formulaFirst4OfZipcode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account_Name_Formula__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>formulaFirst2OfAgencyName</elementReference>
            </value>
        </filters>
        <filters>
            <field>FirstName</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>formulaFirstInitial</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Agent_Last_Name__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordLookups>
    <startElementReference>Field_updated</startElementReference>
    <variables>
        <description>Used to distinguish searches based on CCMID vs adddress fields; values: CCMID,</description>
        <name>varSearchMethod</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>CCMID</stringValue>
        </value>
    </variables>
</Flow>
