force-app/main/default/flows/Enrollment_AFTER_Handler-1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <description>Set the newly-created Agency as the Agency on the Enrollment</description>
        <name>Assign_Agency_to_Enrollment</name>
        <label>Enrollment</label>
        <locationX>922</locationX>
        <locationY>25</locationY>
        <assignmentItems>
            <assignToReference>$Record.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Agency.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Enrollment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the newly-created Agency as the Agency on the Enrollment</description>
        <name>Assign_Agent_to_Enrollment</name>
        <label>Enrollment</label>
        <locationX>777</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>$Record.Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Agent.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_New_Agency_Details</name>
        <label>New Agency</label>
        <locationX>658</locationX>
        <locationY>24</locationY>
        <assignmentItems>
            <assignToReference>New_Agency.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agency_Office__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Agency.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agent_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Agency.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agent_Zip_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Agency.CCMID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CCMID_of_Agency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Agency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Agent_Details</name>
        <label>New Agent</label>
        <locationX>441</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>New_Agent.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NAME_FIRST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Agent.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.NAME_LAST__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Agent.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Agent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Field_set</name>
        <label>Field set</label>
        <locationX>431</locationX>
        <locationY>102</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agency_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formulaNoMatchDefaultAgencyID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Agency_Details</targetReference>
            </connector>
            <label>Agency</label>
        </rules>
        <rules>
            <name>Agent_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Agent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formulaNoMatchDefaultAgentID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Agent_Details</targetReference>
            </connector>
            <label>Agent</label>
        </rules>
    </decisions>
    <description>Handles after insert, update events</description>
    <formulas>
        <description>If the Enrollment isn&apos;t mapped to an existing agency, it may have been defaulted to this catch-all Agency/Account.</description>
        <name>formulaNoMatchDefaultAgencyID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Account_Enrollment_CCMID_Not_Found}</expression>
    </formulas>
    <formulas>
        <description>Record ID of the Agent (Contact) used, when CCMID and address-based searches don&apos;t return a result.</description>
        <name>formulaNoMatchDefaultAgentID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Contact_Enrollment_CCMID_Not_Found}</expression>
    </formulas>
    <interviewLabel>Enrollment AFTER Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enrollment AFTER Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Agency</name>
        <label>New Agency</label>
        <locationX>783</locationX>
        <locationY>24</locationY>
        <connector>
            <targetReference>Assign_Agency_to_Enrollment</targetReference>
        </connector>
        <inputReference>New_Agency</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Agent</name>
        <label>New Agent</label>
        <locationX>618</locationX>
        <locationY>373</locationY>
        <connector>
            <targetReference>Assign_Agent_to_Enrollment</targetReference>
        </connector>
        <inputReference>New_Agent</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Enrollment</name>
        <label>Enrollment</label>
        <locationX>922</locationX>
        <locationY>205</locationY>
        <connector>
            <targetReference>Field_set</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <startElementReference>Field_set</startElementReference>
    <variables>
        <name>New_Agency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>New_Agent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
