force-app/main/default/flows/Enrollment_Roll_Up_to_Contact_and_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>CalculateTotalEnrollments</name>
        <label>CalculateTotalEnrollments</label>
        <locationX>1089</locationX>
        <locationY>200</locationY>
        <assignmentItems>
            <assignToReference>EnrollmentID_Contact</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EnrollmentID_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjContact</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>loopContacts</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Enrollment Roll Up to Contact and Account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enrollment Roll Up to Contact and Account</label>
    <loops>
        <name>loopContacts</name>
        <label>loopContacts</label>
        <locationX>742</locationX>
        <locationY>200</locationY>
        <assignNextValueToReference>sObjContact</assignNextValueToReference>
        <collectionReference>Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CalculateTotalEnrollments</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>TotalContactEnrollmentsRollUp</name>
        <label>TotalContactEnrollmentsRollUp</label>
        <locationX>450</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopContacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CCMID_of_Agent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sObjContact.Enrollment__r.CCMID_of_Agent__c</elementReference>
            </value>
        </filters>
        <object>Enrollment__c</object>
        <outputReference>EnrollmentID_Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateAccount</name>
        <label>updateAccount</label>
        <locationX>748</locationX>
        <locationY>485</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Listings_Sold_Summary__c</field>
            <value>
                <elementReference>varListingsSold</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Sides_Summary__c</field>
            <value>
                <elementReference>varTotalSides</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>TotalContactEnrollmentsRollUp</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Collection of Contacts</description>
        <name>Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>EnrollmentID_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Enrollment__c</objectType>
    </variables>
    <variables>
        <description>Single Contact Record</description>
        <name>sObjContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varListingsSold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Variable to hold total sides units</description>
        <name>varTotalSides</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
