force-app/main/default/flows/Enrollment_CCMID_clean_up-2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_new_agency_details</name>
        <label>Assign new agency details</label>
        <locationX>600</locationX>
        <locationY>113</locationY>
        <assignmentItems>
            <assignToReference>NewAgency.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agency_Office__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAgency.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agent_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAgency.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agent_Zip_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAgency.CCMID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.CCMID_of_Agency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Agency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_agent_details</name>
        <label>Assign new agent details</label>
        <locationX>544</locationX>
        <locationY>549</locationY>
        <assignmentItems>
            <assignToReference>NewAgent.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agent_First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAgent.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agent_Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewAgent.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedEnrollment.Agency__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Agent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Stamp new Agency ID onto Enrollment</description>
        <name>Enrollment_Agency</name>
        <label>Enrollment.Agency</label>
        <locationX>739</locationX>
        <locationY>262</locationY>
        <assignmentItems>
            <assignToReference>UpdatedEnrollment.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAgency.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolUpdateRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Enrollment_Agent</name>
        <label>Enrollment.Agent</label>
        <locationX>741</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>UpdatedEnrollment.Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewAgent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>boolUpdateRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_set</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialization</name>
        <label>Initialization</label>
        <locationX>401</locationX>
        <locationY>56</locationY>
        <assignmentItems>
            <assignToReference>UpdatedEnrollment.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedEnrollment.Agency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdatedEnrollment.Agent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Agent__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Field_set</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Field_set</name>
        <label>Field set</label>
        <locationX>371</locationX>
        <locationY>262</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agency_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdatedEnrollment.Agency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formulaDefaultAgencyID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_agency_details</targetReference>
            </connector>
            <label>Agency set</label>
        </rules>
        <rules>
            <name>Agent_set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UpdatedEnrollment.Agent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formulaDefaultAgentID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_agent_details</targetReference>
            </connector>
            <label>Agent set</label>
        </rules>
        <rules>
            <name>Update_Enrollment_option</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>boolUpdateRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Enrollment</targetReference>
            </connector>
            <label>Update Enrollment?</label>
        </rules>
    </decisions>
    <description>Scheduled flow to lookup up agency &amp; agent info and create, if necessary, then associate to Enrollment record</description>
    <formulas>
        <description>Record ID of Account/Agency if no real Agency was found</description>
        <name>formulaDefaultAgencyID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Account_Enrollment_CCMID_Not_Found}</expression>
    </formulas>
    <formulas>
        <description>Record ID of Contact used when no real Agent is found</description>
        <name>formulaDefaultAgentID</name>
        <dataType>String</dataType>
        <expression>{!$Label.Contact_Enrollment_CCMID_Not_Found}</expression>
    </formulas>
    <interviewLabel>[{!$Record.Name}] Enrollment CCMID clean-up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Enrollment CCMID clean-up</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Agency</name>
        <label>New Agency</label>
        <locationX>739</locationX>
        <locationY>113</locationY>
        <connector>
            <targetReference>Enrollment_Agency</targetReference>
        </connector>
        <inputReference>NewAgency</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Agent</name>
        <label>New Agent</label>
        <locationX>741</locationX>
        <locationY>550</locationY>
        <connector>
            <targetReference>Enrollment_Agent</targetReference>
        </connector>
        <inputReference>NewAgent</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Enrollment</name>
        <label>Enrollment</label>
        <locationX>120</locationX>
        <locationY>299</locationY>
        <inputReference>UpdatedEnrollment</inputReference>
    </recordUpdates>
    <startElementReference>Initialization</startElementReference>
    <variables>
        <description>Should the Enrollment be updated?</description>
        <name>boolUpdateRecord</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>NewAgency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NewAgent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UpdatedEnrollment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Enrollment__c</objectType>
    </variables>
</Flow>
