force-app/main/default/flows/Rollup_Total_Sides-2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assgCalculateTotalSides</name>
        <label>assgCalculateTotalSides</label>
        <locationX>405</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>varTotalSides</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObjContact.Total_Sides_Units__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varListingsSold</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sObjContact.Listings_Sold_Units__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopContacts</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Rollup Total Sides {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Rollup Total Sides to Account from Contact</label>
    <loops>
        <name>loopContacts</name>
        <label>loopContacts</label>
        <locationX>208</locationX>
        <locationY>287</locationY>
        <assignNextValueToReference>sObjContact</assignNextValueToReference>
        <collectionReference>Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assgCalculateTotalSides</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>TotalSidesRollUp</name>
        <label>TotalSidesRollUp</label>
        <locationX>208</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopContacts</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Contacts</outputReference>
        <queriedFields>Total_Sides_Units__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Listings_Sold_Units__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updateAccount</name>
        <label>updateAccount</label>
        <locationX>210</locationX>
        <locationY>476</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Listings_Sold_Summary__c</field>
            <value>
                <elementReference>varListingsSold</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Sides_Summary__c</field>
            <value>
                <elementReference>varTotalSides</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>TotalSidesRollUp</startElementReference>
    <variables>
        <description>Collection of Contacts</description>
        <name>Contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Single Contact Record</description>
        <name>sObjContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varListingsSold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Variable to hold total sides units</description>
        <name>varTotalSides</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
